@import "tailwindcss";

body { 
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.02);
}

/* Add custom color tailwind */
@theme {
  --color-primary: #0088FF;
}